<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.store.dao.BookDao" >
  <resultMap id="BaseResultMap" type="com.wang.store.entity.Book" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="preprice" property="preprice" jdbcType="VARCHAR" />
    <result column="nowprice" property="nowprice" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="monthsales" property="monthsales" jdbcType="INTEGER" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="page" property="page" jdbcType="VARCHAR" />
    <result column="press" property="press" jdbcType="VARCHAR" />
    <result column="presstime" property="presstime" jdbcType="VARCHAR" />
    <result column="isbn" property="isbn" jdbcType="VARCHAR" />
    <result column="authorcontent" property="authorcontent" jdbcType="VARCHAR" />
    <result column="catelog" property="catelog" jdbcType="VARCHAR" />

  </resultMap>


  <select id="FindBookById" parameterType="Integer" resultType="com.wang.store.entity.Book">
  select *
  from Book
  where id=#{id}
  </select>

  <select id="GetAllBook" resultType="com.wang.store.entity.Book">
    select *
    from Book
  </select>

  <select id="FindBookByName" parameterType="String" resultType="com.wang.store.entity.Book">
  select *
  from Book
  where name like "%"#{name}"%"
  </select>

  <select id="FindBookByType" parameterType="String" resultType="com.wang.store.entity.Book">
  select *
  from Book
  where type like "%"#{type}"%"
  </select>

  <select id="GetHotBook" resultType="com.wang.store.entity.Book">
    select *
    from Book
    where monthsales>0;
  </select>

  <select id="GetDiscountBook" resultType="com.wang.store.entity.Book">
    select *
    from Book
    where nowprice &lt; preprice
  </select>

  <insert id="InsertBook" parameterType="com.wang.store.entity.Book">
    insert into Book(name,type,picture,introduction,
    author,preprice,nowprice,stock,monthsales,subtitle,
    page,press,presstime,isbn,authorcontent,catelog)
    values (#{name},#{type},#{picture},#{introduction},
    #{author},#{preprice},#{nowprice},#{stock},#{monthsales},#{subtitle},
    #{page},#{press},#{presstime},#{isbn},#{authorcontent},#{catelog})
  </insert>

  <insert id="InsertAndGetId" useGeneratedKeys="true" keyProperty="id" parameterType="com.wang.store.entity.Book" >
   insert into Book(name,type,picture,introduction,
    author,preprice,nowprice,stock,monthsales,subtitle,
    page,press,presstime,isbn,authorcontent,catelog)
    values (#{name},#{type},#{picture},#{introduction},
    #{author},#{preprice},#{nowprice},#{stock},#{monthsales},#{subtitle},
    #{page},#{press},#{presstime},#{isbn},#{authorcontent},#{catelog})
  </insert>

  <update id="UpdateBookStock" >
    update Book
    set stock=#{stock}
    where id=#{id}
  </update>

  <update id="UpdateBookPrePrice">
    update Book
    set preprice=nowprice
    where id=#{id}
  </update>

  <update id="UpdateBookPrice">
    update Book
    set
      nowprice=#{price}
    where id=#{id}
  </update>

</mapper>