<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.store.dao.OrderInfoDao">
    <resultMap id="BaseResultMap" type="com.wang.store.entity.OrderInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="orderid" property="orderid" jdbcType="INTEGER"/>
        <result column="bookid" property="bookid" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="INTEGER"/>


    </resultMap>


    <insert id="AddOrderInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.wang.store.entity.OrderInfo">
    insert into OrderInfo(orderid,bookid,num)
    values (#{orderid},#{bookid},#{num})
  </insert>

    <select id="GetInfoByOrderId" parameterType="Integer" resultType="com.wang.store.entity.OrderInfo">
    select *
    from OrderInfo
    where orderid=#{orderid};
  </select>


</mapper>